  .title {
    flex-grow: 1;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .status-bar {
    flex-grow: 1;
    font-size: 10px;
    margin-right: 10px;
  }
 
  .fas fa-wallet{
    color: green;
    margin-right: 20px;
    font-size:96px;
  }

  